# Data types
Bool : True/False
int : signed integer types2,10,-19
float : 3.456,-6.5
complex: 3+j4
String : "I want to be a data scientist"
time : Date/time,type

In [3]:
a = 3
a

3

In [4]:
type(a)

int

In [5]:
type(4.2)

float

In [6]:
type(True)

bool

In [7]:
type("Hi there")

str

In [8]:
import datetime

In [9]:
datetime.date.today()

datetime.date(2020, 5, 18)

In [10]:
datetime.datetime.now()

datetime.datetime(2020, 5, 18, 11, 44, 28, 589776)

In [11]:
from datetime import datetime

In [12]:
datetime.now()

datetime.datetime(2020, 5, 18, 11, 45, 24, 107966)

In [16]:
from datetime import date
date.today()

datetime.date(2020, 5, 18)

In [19]:
my_bday = date(1997,11,18)
my_bday

datetime.date(1997, 11, 18)

# Math Operators

In [25]:
print(10+4)

14

In [26]:
print(10-4)

6

In [27]:
print(10*4)

40

In [28]:
print(10**4)

10000

In [29]:
print(10/4)

2.5

In [31]:
print(10%4) # modulus operator return remainder

2

# Type Casting

In [32]:
type("ashok")

str

In [33]:
4 + 3.5

7.5

In [34]:
2 + 2.5

4.5

In [35]:
str(3) + 'Times'

'3Times'

In [36]:
int('3')

3

In [37]:
float(6)

6.0

In [38]:
a = 3

# Logical Operators

In [39]:
print(5>3)

True

In [40]:
print(5<3)

False

> Greater than
< Lesser than
>= Greater than or equal to
<= Lesser than or equal to
!Not equal to
== is equal to

#Comparison Operators
or (if both are true and result True,all other cause False)
and (if both are False and False True,all other cause True)

In [44]:
print(5>3 and 6>3) #T and T
print(5>3 and 6<3) #T and F
print(5<3 and 6>3) #F and T
print(5<3 and 6<3) #F and F

True
False
False
False

# Conditional Statements

In [58]:
# if /elif/else statement
x = 2
if x > 0:
    print("Positive")
elif x == 0:
    print("Zero")
else:
    print("Negative")

Positive